<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.samples.quickstart.appindexing">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.google.samples.quickstart.appindexing.EntryChoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- [START intent_filter] -->
        <activity
            android:name="com.google.samples.quickstart.appindexing.java.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.example.com/articles/" -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/articles/"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mystickers" />
                <data android:host="sticker" />
            </intent-filter>

        </activity>
        <!-- [END intent_filter] -->

        <activity
            android:name="com.google.samples.quickstart.appindexing.kotlin.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.example.com/articles/" -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/kotlin_articles/"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mystickers" />
                <data android:host="sticker" />
            </intent-filter>

        </activity>

        <provider
            android:name="com.google.samples.quickstart.appindexing.java.StickerProvider"
            android:authorities="com.google.samples.quickstart.appindexing.java.StickerProvider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <provider
            android:name="com.google.samples.quickstart.appindexing.kotlin.StickerProvider"
            android:authorities="com.google.samples.quickstart.appindexing.kotlin.StickerProvider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <service
            android:name="com.google.samples.quickstart.appindexing.java.AppIndexingService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX" />
            </intent-filter>
        </service>

        <service
            android:name="com.google.samples.quickstart.appindexing.kotlin.AppIndexingService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX" />
            </intent-filter>
        </service>

    </application>

</manifest>
