<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.quickstart.database">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EntryChoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".java.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".kotlin.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity android:name=".java.SignInActivity" />
        <activity android:name=".kotlin.SignInActivity" />

        <activity android:name=".java.NewPostActivity" />
        <activity android:name=".kotlin.NewPostActivity" />

        <activity android:name=".java.PostDetailActivity" />
        <activity android:name=".kotlin.PostDetailActivity" />
    </application>

</manifest>
