*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.dataconnect/
.firebaserc

# The file used by our custom gradle plugin to specify _local_ settings.
# Since the settings are "local", they should *not* be checked into source control.
dataconnect.local.toml
