# This is an example dataconnect.local.toml file.
# Copy it to dataconnect.local.toml file in order for it to be picked up by the
# com.google.firebase.example.dataconnect.gradle custom plugin.

[dataconnect]

# The path of the "node" executable to use.
#
# Setting this is normally not necessary; however, if "node" is not in the PATH
# environment variable, or the node version in the PATH is not the desired one,
# then setting this to the absolute path of the node executable to use works
# around that problem. A relative path is calculated relative to the directory
# containing this file.
#
# If not set or set to null, "node" is used.
#
# eg. nodeExecutable = "/home/myusername/local/nvm/versions/node/v20.13.1/bin/node"
nodeExecutable = null

# The path of the "npm" executable to use.
#
# Setting this is normally not necessary, as its value is usually inferred
# correctly. If not set, or set to null, then its value is inferred by first
# checking the value of `nodeExecutable`; if `nodeExecutable` is set to a non-
# null value, the the "npm" exectuable from the same directory is used.
# Otherwise, "npm" is used. A relative path is calculated relative to the
# directory containing this file.
#
# eg. npmExecutable = "/home/myusername/local/nvm/versions/node/v20.13.1/bin/npm"
npmExecutable = null
