name: Build Pull Request

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 17
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Check Snippets
      run: python scripts/checksnippets.py
    # TODO(thatfiredev): remove this once github.com/firebase/quickstart-android/issues/1672 is fixed
    - name: Remove Firebase Data Connect from CI
      run: python scripts/ci_remove_fdc.py
    - name: Copy mock google_services.json
      run: ./copy_mock_google_services_json.sh
    - name: Build with Gradle (Pull Request)
      run: ./build_pull_request.sh
